@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
	background: white;
}
.layout-main{
	margin: 0 auto;  /* 가운데 정렬 */
	/* border: 2px solid purple; */  /* border사용해서 위치나 크기 확인하기 */
	 width: 80%;
	
	display: flex; /* 수평정렬 */
	
	
}

.justify {
	
	display: flex;
	justify-content: center;
	
}

.hinfo-title-box {
	
	text-align: center; 

	height: 450px; 
	width: 100%
}

.pl2 {
	padding-left: 20px;
}

.title-image-box {
	
	height: 100%;
	flex-direction: column;
}

.fc {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hospital-name {
	
	font-size: 40px;
	font-weight: bold;
	height: 100px;
	margin-top: 20px;
	display: flex;
	line-height: 3;
}

.star-score {
	display: flex;
	font-size:25px;
	padding-left: 10px;

}

.star-score i {
	color : #ffc107;

}

.hospital-name-box {
	
	width: 600px;
	height: 180px;
	border-bottom: lightgray 1px solid;
	
}

.hinfo-list li{
	
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
	
}

.hinfo-list i {
	font-size: 25px;
	padding-right: 10px;
}



.bookmark-box {
	
	width: 100%; 
	height: 80px;
	border: 1px solid #9b9b9b;
	flex-direction: column;
	
	position: absolute;
	top:55px;
}

.col {
	
	display: flex;
	flex-direction: column;
}

.hinfo-menu-box {
	width: 65%;
	border-top : 1px solid;
	border-bottom: 1px solid;
	display: flex;
	height: 50px;
	
}

.menu-bar{
	
	font-size: 20px;
	font-weight: bold;
	width: 50%;
	background: rgb(234,153,153);
	border-right: 0.2px solid white;
	height: 100%;
}

.content-detail-box {
	
	width: 65%;
}

.review-box {
	
	width: 65%;
}

.mtl {
	
	margin-top: 10px;
	margin-left: 10px;
}

.content-title {
	
	font-size:20px;
	font-weight: bold;
	
	
}

.content-detail-box i {
	
	font-size:  30px;
	margin-right: 10px;
	
}

.content-list ul {
	
	list-style-type: none;
	display: flex;
	
}

.content-list li {
	
	font-size: 20px;
	font-weight: bold;
	background-color: #ffd3db;
	height: 30px;
	margin-right: 10px;
	
	
}

.time-list{
	margin-bottom: 10px
	
}


.content-special {
	
	margin-left: 50px;
	width: 120px;
	height: 120px;
	border: 1px solid lightgray;
	font-weight: bold;
}

.content-special i {
	font-size: 50px;
	margin-bottom: 10px;
}

.review-box {
	

	margin-top: 30px;
	border-top: 1px solid;
	
}

.hinfo-update button {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	border: none;
	background-color: #d8e2f3;
	font-weight: bold;
}

.hospital-search{
	
	width: 100%; 
	height:100px; 

	display: flex;
	align-items : center;
	justify-content: center;
}

.search {
	
	width: 80%;
	
		}

.white_window {
	
	display: flex;
	height: 40px;
	margin: 0;
}

.white_window #searchWord {
	/* height: 100%; */
	width: 100%;
	border-color: white;
	font-style: italic;
	color: gray;
	padding: 2px;
	border: 0;
	outline: 0;
}

.white_window #searchBtn {
	
	width: 50px;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.row {
	
	display: flex;
	flex-direction: row;
}

.mb {
	margin-bottom: 10px;
}

.certi {
	background-color: #d8e2f3;
	color: black;
	font-size: 8px;
	width: 100px;
	height: 30px;
	border-radius: 20px;
	border: 1px solid #a5a2bb;
}

.btn-likes {
	
	font-size: 14px;
	 border: 1px lightgray solid;
	 background: none;
	 height: 30px;
	 width: 200px;
	 cursor: pointer;
	 
}

.mt {
	
	margin-top: 20px;
	
}


.bookmark-box>i {
	
	cursor: pointer;
	
}

.editDelete button{
	
	color: blue;
	font-size: 14px;
	border: none;
	background: none;
	cursor: pointer;
	
}


#btnSubmit {
	
	position: absolute;
	left: 50%;
	height: 40PX;
	width: 100px;
	bottom: -66px;
	transform : translate(-50%,-50%);
	border: none;
	background: #7ca4e882;
	border-radius: 5px;
}

.reportbox {
	
	margin-top: 15px;
	width: 300px;
}

.report_submit {
	
	border: none;
	height: 30px;
	background: #d8e2f3;
}
/* css사용
1. inline요소 block요소 구분
> 블록요소: address, article, aside, audio, blockquote, canvas, dd, div, dl, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, noscript, ol, output, p, pre, section, table, ul, video
 -- 블록요소 내에는 블록요소와 인라인요소 모두 사용 가능
 -- 박스형태로 줄바꿈이 일어남 한줄모두 차지함.
> 인라인요소: a, abbr, acronym, b, bdo, big, br, button, cite, code, dfn, em, i, img, input, kbd, label, map, object, q, samp, small, script, select, span, strong, sub, sup, textarea, tt, var
 -- 인라인요소 내에는 인라인요소만 사용가능
 -- 줄바꿈이 없고 우측에 이어서 계속나옴
 -- margin, padding 좌우만 가능 상하사용 x
 -- display: block으로 블록형태로 사용가능.
 -- line-height로 줄의 높낮이를 조절할 수 있고 text-align으로 텍스트의 종앙, 좌,우측 정렬을 할 수 있습니다.
 -- vertical-align 사용가능
인라인요소와 블록요소에서 사용가능한 속성이 조금씩 다름
2. 배치
1) display (사용추천)
	> display: block
	 - 인라인요소를 블록형태로 다루고 싶을 때 사용 (상하margin, padding 등,,)
	> display:flex  ******
	 - 자식요소들을 블록형태로 배치한다
	 - 수평정렬, 수직정렬 가능
	 - display: flex 수평정렬
	 - flex-direction: column 수직으로 변경
	 - justify-content: center : 주축(가로) 센터 정렬
	 - align-content: center: 보조축(세로) 센터 정렬 부모 내의 자식요소가 둘이상일떄
	 - align-items: center : 자식요소가 하나일때
2) postion
	> position: static
	 - 초기값으로 위치를 지정할 떄
	 - 앞서 사용한 position속성을 무시할 때 사용
	
	> position: absolute
	 - 절대위치 body, static, 상위태그을 기준으로 offset 사용
	 - top, bottom, left, right 사용
	 
	> position: relative
	 - 요소의 원래위치를 기준으로 offset 사용
	 - top, bottom, left, right
3) float( 사용,,,권장ㄴ)
  -- 배치가 붕 떠서 clearfix사용해야함,,,

3. 꾸미기
background: 배경색
color: 글자색
border: 테두리
border-radius: 네모 둥글게
font-size: 글자크기
font-weight: 글자굵기
font-family: 폰트설정
min-width : 창 크기에 따라 작아질 수 있지만 min-width보다 더 작아지지는 말아라
max-width : 창 크기에 따라 더 커질 수 있지만 max-width보다 더 커지지 말아라
 */

