@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body{
	margin: 0;
	padding: 0;
	background: white;
}
.layout-main{
	margin: 0 auto;  /* 가운데 정렬 */
 	/*border: 2px gray solid; border사용해서 위치나 크기 확인하기 */
	width: 80%;
	height: 800px;
	display: flex; /* 수평정렬 */
	flex-direction: column;
}
/* .layout-left-block{
	border: 2px solid red;
	width: 20%;
	height: 100%;
}
.layout-right-block{
	border: 2px solid green;
	width: 80%;
	height: 100%;
} */

.review-body {
	
	display: flex;
	flex-direction: row;
	
}

.review-notice {
	width: 100%;
	
	height: 300px;
	box-sizing: border-box;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.review-notice div:first-child {
	width: 80%;
	height: 40%;
	font-family: 'Jua', sans-serif;
	font-size: 55px;
	font-weight: bold;
	text-align: center;
}

.review-notice div:last-child {
	
	width: 80%;
	height: 60%;
	background-color: rgb(234,153,153);
	box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.2);
	box-sizing: border-box;

	
}

.review-notice p {
	
	font-size: 18px;
	font-weight: bold;
	margin: 15px;
}


.review-notice i {
	

	font-size : 30px;
	padding: 0 20px;
	
}

.review-body-layout {
	
	height: 500px;
	display: flex;
	justify-content: center;
	
}

.review-body {
	display: flex;
	flex-direction: row;
	padding: 30px;
	box-sizing: border-box;
	height: 100%;
	width: 80%;
	
}

.reivew-hospital {
	
	
	width: 50%;
	height: 100%;
}

.review-medicine {
	width: 50%;

	height: 100%;
}

.review-title {
	height: 20%;
	text-align: center;
	line-height: 3;
	color: white;
	font-size: 30px;
	background: #289cd4;
	font-weight: 600;
	
}

.hreview-box {
	
	width: 50%;
}

.hreview-box:hover {
	
	background-color: #ebebeb;
}

.hreview-content-group {
	height: 80%;
	display: flex;
}

.hreview-content {
	
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.hreview-content h3 {
	
	margin: 0;
	text-align: center;
	line-height: 3;
	font-size: 30px;
	height: 80px;
	
}

.hreview-content div {
	margin: 0 20px;
	width: 80%;
	border-top: solid 1px lightgray;
	height: 10px;
}


.hreview-content i {
	
	font-size: 70px;
	
}
.hreview-content p {
	
	margin: 0;
	text-align: center;
	padding: 20px;
	
}

.hreview-box button {
	
	height: 20%;
	width: 100%;
	border: none;
	font-size: 20px;
	font-weight: 700;
}


.hreview-box button:hover {

	background-color: #289cd4;
}


#mrevbtn:hover {

	background-color: #7bc3e6;
}
/* css사용
1. inline요소 block요소 구분
> 블록요소: address, article, aside, audio, blockquote, canvas, dd, div, dl, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, noscript, ol, output, p, pre, section, table, ul, video
 -- 블록요소 내에는 블록요소와 인라인요소 모두 사용 가능
 -- 박스형태로 줄바꿈이 일어남 한줄모두 차지함.
> 인라인요소: a, abbr, acronym, b, bdo, big, br, button, cite, code, dfn, em, i, img, input, kbd, label, map, object, q, samp, small, script, select, span, strong, sub, sup, textarea, tt, var
 -- 인라인요소 내에는 인라인요소만 사용가능
 -- 줄바꿈이 없고 우측에 이어서 계속나옴
 -- margin, padding 좌우만 가능 상하사용 x
 -- display: block으로 블록형태로 사용가능.
 -- line-height로 줄의 높낮이를 조절할 수 있고 text-align으로 텍스트의 종앙, 좌,우측 정렬을 할 수 있습니다.
 -- vertical-align 사용가능
인라인요소와 블록요소에서 사용가능한 속성이 조금씩 다름
2. 배치
1) display (사용추천)
	> display: block
	 - 인라인요소를 블록형태로 다루고 싶을 때 사용 (상하margin, padding 등,,)
	> display:flex  ******
	 - 자식요소들을 블록형태로 배치한다
	 - 수평정렬, 수직정렬 가능
	 - display: flex 수평정렬
	 - flex-direction: column 수직으로 변경
	 - justify-content: center : 주축(가로) 센터 정렬
	 - align-content: center: 보조축(세로) 센터 정렬 부모 내의 자식요소가 둘이상일떄
	 - align-items: center : 자식요소가 하나일때
2) postion
	> position: static
	 - 초기값으로 위치를 지정할 떄
	 - 앞서 사용한 position속성을 무시할 때 사용
	
	> position: absolute
	 - 절대위치 body, static, 상위태그을 기준으로 offset 사용
	 - top, bottom, left, right 사용
	 
	> position: relative
	 - 요소의 원래위치를 기준으로 offset 사용
	 - top, bottom, left, right
3) float( 사용,,,권장ㄴ)
  -- 배치가 붕 떠서 clearfix사용해야함,,,

3. 꾸미기
background: 배경색
color: 글자색
border: 테두리
border-radius: 네모 둥글게
font-size: 글자크기
font-weight: 글자굵기
font-family: 폰트설정
min-width : 창 크기에 따라 작아질 수 있지만 min-width보다 더 작아지지는 말아라
max-width : 창 크기에 따라 더 커질 수 있지만 max-width보다 더 커지지 말아라
 */

