@charset "UTF-8";

#floatdiv {
    position: fixed;
    _position: absolute;
    _z-index: -1;
    width: 170px;
    overflow: hidden;
    right: 0px;
    top: 150px;
    border: solid 2px blue;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

#floatdiv ul {
    list-style: none;
}

#floatdiv li {
    margin-bottom: 2px;
    text-align: center;
}

#floatdiv li a {
    color: #5D5D5D;
    border: 0;
    text-decoration: none;
    display: block;
}

#floatdiv a:hover,
#floatdiv .menu {
    background-color: #5D5D5D;
    color: #fff;
}

#floatdiv .menu,
#floatdiv .last {
    margin-bottom: 0px;
}