*{
	font-family: 'NanumSquare', sans-serif;
}
 body{
	margin: 0;
	padding: 0;
	background: white;
}
.layout-main{
	margin: 0 auto;  /* 가운데 정렬 */
 /* border사용해서 위치나 크기 확인하기 */
	width: 80%;
	height: auto;
	display: flex; /* 수평정렬 */
	flex-direction: column;
}
/* .layout-left-block{
	border: 2px solid red;
	width: 20%;
	height: 100%;
}
.layout-right-block{
	border: 2px solid green;
	width: 80%;
	height: 100%;
} */

/*----------------------------------------------------------------------------------------------*/

/* 타이틀 */
  .headword img {
    margin: 0px 20px 0px  0px;
    width: 30px;
    height: 30px;
}
.headword {
    position: relative;
    width: 1200px;
    margin: 9px auto 0;
    font-size: 25px;
    line-height: 46px;  
}
 
 
 
 /* 검색창 */
 #searchWord{
	font-size: 20px;
	padding-left: 10px;
}
.medicine-search {
	width: 100%;
	height: 20px;
	display: flex;
	flex-direction: column;
}
.search {
	display: flex;
	height: 30%;
}
.white_window {
	height: 60px;
	display: flex;
	justify-content: center;
}
.white_window #searchWord {
	display: flex;
	width: 40%;
	border: none;
	border-bottom: 3px solid rgb(234,153,153);
}
.white_window #searchBtn{
	border: none;
	background-color: white;
}



/* 검색 목록 */
.medicine-info-filter {
	display: flex;
	justify-content: center;
}
.medicine-info-option {
	height: 100px;
	position: relative;
	width: 100%;
	border-bottom: solid 4px #d8e2f3;
}
.mselect {
	position: absolute;
	right: 0px;
	bottom: 5px;
	border: 2.3px solid rgb(234,153,153);
	height: 30px;
	width: 150px;
}



/* 게시글 */
.medcine-info-list {
	padding: 7px;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	overflow: auto;
}
.medicine-info-list li {
	border: 1px solid;
	height: 300px;
	width: 25%;
}
.mlist-body {
	box-shadow: 0px 4px 5px 0 rgba(0,0,0,0.2);
	height: 240px;
	width: 240px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
	list-style: none;
}
.medicine-body {
	height: 40%;
	position: relative;	
	text-decoration: none;
}
.mlist-body a{
	color: black;
}
.mlist-body a:hover{
	color:red;
}
.mname {
	margin: 10px;
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
	
 
}
 




/* | */
.se_divide_line {
	width: 1px;
    height: 12px;
    filter: alpha(opacity=10);
    opacity: .1;
    display: inline-block;
    margin: 0 5px;
    background-color: #000;
}
/* 게시일, 조회수 */
.se_publishDate, .se_view  {
    filter: alpha(opacity=40);
    opacity: .4;
    vertical-align: middle;
}
.minfo-star{
	display: flex;
    justify-content: flex-end;
}

 
 
/*페이징 처리*/


.pageBlock{
	display: flex;
    justify-content: center;
}
.pageBlock span{
	 font-family: 'NanumSquare', sans-serif; 
	 background-color: rgb(234,153,153);
	 padding: 3px 5px;
     border-radius: 10px;
     color:white;
     font-weight: 700;
}
.pageBlock a {
    margin-left: 10px;
    color: black;
    font-size: 18px;
    font-family: 'NanumSquare', sans-serif;
    padding: 3px 5px;
    border-radius: 10px;
}
.pageBlock a:hover {
	background-color: rgb(234,153,153);
	
}

.modal-title{
	font-size: 18px;
}
 